.parallax { 
    /* The image used */
    background-image: url("Img/Cover/cover5.jpg");

    /* Set a specific height */
    height: 500px; 

     /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}